/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../../fondo.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
}

#menu-container {
    text-align: center;
}

#menu {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #db4d34;
    color: #fff;
    border: none;
    border-radius: 5px; 
}

button:hover {
    background-color: #d36552;
}

img {
    width: 100px; 
    height: 100px; 
    margin-bottom: 10px;
}